.contenedorFlex {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 20px;
}

.parteIzquierda {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.parteDerecha {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}